{% load static %}
{# <div class="top-bar" dir="rtl">#}
{#                <div class="container-fluid">#}
{#                    <div class="row" >#}
{#                        <div class="d-flex justify-content-between">#}
{##}
{#                            <div class="logo" style="width: 150px">#}
{#                                 <img class="img-fluid"   src="{% static 'img/kanoon.svg' %} ">#}
{#                            </div>#}
{##}
{#                            <div class="logo"  style="align-self: center; padding-right: 80px">#}
{#                                    <h1 style="font-family: 'Markazi Text',sans-serif ; font-size: xx-large" >  <strong> روح انگیز قهرمانی</strong> وکیل پایه یک دادگستری مرکز  </h1>#}
{#                        </div>#}
{##}
{##}
{#                                <div class="text">#}
{#                                    <a class="btn  btn-small " href="tel:09122844127" >#}
{#                                    <h2 style="font-family: 'Markazi Text'">0912-28-44-127</h2>#}
{#                                    </a>#}
{#                                    <p  style="font-family: 'Markazi Text' "> تماس با همراه:</p>#}
{#                                </div>#}
{##}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}



            <!-- Top Bar End -->





<div class="top-bar" >

    <div class="container " >
  <div class="row">

    <div class="col-xl order-first ">
      <div class="logo float-start" >
          <h1  class="font-size:80vw" style="font-family: 'Markazi Text',sans-serif ; font-size: x-large;" > <img src="{% static 'img/kanoon.svg' %}"> <strong> روح انگیز قهرمانی</strong>  <small class="text-muted ">وکیل پایه یک دادگستری مرکز</small> </h1>

      </div>
    </div>
    <div class="col-xl">
      <div class="text float-end">
          <a class="btn  btn-small " href="tel:09122844127" >
              <h2 style="font-family: 'Markazi Text'">0912-28-44-127</h2>
          </a>
          <p  style="font-family: 'Markazi Text' "> تماس با همراه:</p>
      </div>
    </div>
  </div>

</div>

</div>